.container {
    /* width: fit-content; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 5px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tr {
    border-bottom: 1px solid #ccc;
}

tr:last-child {
    border-bottom: none;
}